body {
  background: #F7F7F7;
}

//首页菜单
#menu {
  background: #FFF;
  padding-left: 0;
  padding-right: 0;
  > .row {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 0;
    margin-right: 0;
    > div {
      padding-left: 0;
      padding-right: 0;
    }
    a {
      display: block;
      width: 100%;
      > p {
        margin-top: 7px;
        margin-bottom: 14px;
        line-height: 1;
      }
    }
    img {
      width: 50px;
      height: 50px;
    }
  }
}

//超值折扣
#zktj {

  height: 35px;
  width: 100%;
  background-color: #ff9000;
  background: -webkit-gradient(linear,0 0,0 100%,from(#ffaf47),to(#ff9000));
  background: -moz-linear-gradient(top, #ffaf47, #ff9000);
  background: -o-linear-gradient(top,#ffaf47, #ff9000);
  line-height: 35px;
  > span {
    font-size: 18px;
    color: white;
    float: left;
    padding-left: 10px;
  }
  img {
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 8px;
    margin-top: 8px;
    float: right;
  }

}

.zhekou {
  padding-bottom: 10px;
  width: 100%;
  background-color: #fff;
  ul {
    min-height: 500px;
  }
  li {
    padding: 10px;
    border-bottom: 1px solid #e0e0e0;
  }
  .pic {
    width: 100px;
    height: 100px;
    line-height: 0;
    float: left;
    >img {
      width: 100%;
    }
  }

  .info {
    overflow: hidden;
    height: 100px;
    padding-left: 10px;
    .title {
      padding-right: 15px;
      height: 50px;
    }
    .red {
      color: #ff6c00;

    }
    .bottom {
      margin-top: 25px;
      height: 12px;
      line-height: 12px;
      span {

        font-size: 12px;
        font-family: "����";
        color: #a1a1a1;
      }
      span:nth-of-type(2) {
        float: right;
        margin-right: 20px;
      }
    }

  }

}

.nav {
  border-top: solid 1px #ebebeb;
  border-bottom: 1px solid #ccc;
  width: 50%;
  margin: 0 auto;
  border-radius: 15px;
  background: -webkit-linear-gradient(#ffffff, #F4F4F4);
  background: -o-linear-gradient(#ffffff, #F4F4F4);
  background: linear-gradient(#ffffff, #F4F4F4);
  > a {
    height: 30px;
    color: #5a5a5a;
    line-height: 30px;
    font-family: "Microsoft YaHei";
    display: inline-block;
  }
}